@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body{
  /* background: rgb(6, 31, 18); */
  /* color: white !important; */
}

.overflow-y-unset{
  overflow-y: unset;
}

.hide-alt {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

